# Importing all the required libraries

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

# Importing the Dataset

In [2]:
df=pd.read_csv('ipl.csv')

# Performing EDA

In [3]:
df.head()

,mid,date,venue,bat_team,bowl_team,batsman,bowler,runs,wickets,overs,runs_last_5,wickets_last_5,striker,non-striker,total
0,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,SC Ganguly,P Kumar,1,0,0.1,1,0,0,0,222
1,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,1,0,0.2,1,0,0,0,222
2,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.2,2,0,0,0,222
3,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.3,2,0,0,0,222
4,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.4,2,0,0,0,222

In [4]:
df.venue.unique()

array(['M Chinnaswamy Stadium',
       'Punjab Cricket Association Stadium, Mohali', 'Feroz Shah Kotla',
       'Wankhede Stadium', 'Eden Gardens', 'Sawai Mansingh Stadium',
       'Rajiv Gandhi International Stadium, Uppal',
       'MA Chidambaram Stadium, Chepauk', 'Dr DY Patil Sports Academy',
       'Newlands', "St George's Park", 'Kingsmead', 'SuperSport Park',
       'Buffalo Park', 'New Wanderers Stadium', 'De Beers Diamond Oval',
       'OUTsurance Oval', 'Brabourne Stadium',
       'Sardar Patel Stadium, Motera', 'Barabati Stadium',
       'Vidarbha Cricket Association Stadium, Jamtha',
       'Himachal Pradesh Cricket Association Stadium', 'Nehru Stadium',
       'Holkar Cricket Stadium',
       'Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium',
       'Subrata Roy Sahara Stadium',
       'Shaheed Veer Narayan Singh International Stadium',
       'JSCA International Stadium Complex', 'Sheikh Zayed Stadium',
       'Sharjah Cricket Stadium', 'Dubai International Cricket Stadium',
       'Maharashtra Cricket Association Stadium',
       'Punjab Cricket Association IS Bindra Stadium, Mohali',
       'Saurashtra Cricket Association Stadium', 'Green Park'],
      dtype=object)

## Encoding date colunm and dropig the date

In [5]:
df['Year']=pd.to_datetime(df['date'],format='%Y-%m-%d').dt.year
df['Month']=pd.to_datetime(df['date'],format='%Y-%m-%d').dt.month
df['Date']=pd.to_datetime(df['date'],format='%Y-%m-%d').dt.day

In [6]:
df.drop(['batsman','bowler','striker','non-striker'],axis=1,inplace=True)
df.drop(['date','mid'],axis=1,inplace=True)

In [7]:
consistent_teams = ['Kolkata Knight Riders', 'Chennai Super Kings', 'Rajasthan Royals',
                    'Mumbai Indians', 'Kings XI Punjab', 'Royal Challengers Bangalore',
                    'Delhi Daredevils', 'Sunrisers Hyderabad']
df = df[(df['bat_team'].isin(consistent_teams)) & (df['bowl_team'].isin(consistent_teams))]
df=df[df['overs']>=5.0]

In [8]:

df.reset_index(drop=True,inplace=True)
df.head()

,venue,bat_team,bowl_team,runs,wickets,overs,runs_last_5,wickets_last_5,total,Year,Month,Date
0,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,61,0,5.1,59,0,222,2008,4,18
1,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,61,1,5.2,59,1,222,2008,4,18
2,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,61,1,5.3,59,1,222,2008,4,18
3,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,61,1,5.4,59,1,222,2008,4,18
4,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,61,1,5.5,58,1,222,2008,4,18

In [9]:
encoded_df = pd.get_dummies(data=df, columns=['bat_team', 'bowl_team'],drop_first=True)

In [10]:
encoded_df = encoded_df[['Date',"Month",'Year', 'bat_team_Delhi Daredevils', 'bat_team_Kings XI Punjab',
              'bat_team_Kolkata Knight Riders', 'bat_team_Mumbai Indians', 'bat_team_Rajasthan Royals',
              'bat_team_Royal Challengers Bangalore', 'bat_team_Sunrisers Hyderabad',
              'bowl_team_Delhi Daredevils', 'bowl_team_Kings XI Punjab',
              'bowl_team_Kolkata Knight Riders', 'bowl_team_Mumbai Indians', 'bowl_team_Rajasthan Royals',
              'bowl_team_Royal Challengers Bangalore', 'bowl_team_Sunrisers Hyderabad',
              'overs', 'runs', 'wickets', 'runs_last_5', 'wickets_last_5', 'total']]

In [11]:
encoded_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40108 entries, 0 to 40107
Data columns (total 23 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Date                                   40108 non-null  int64
 1   Month                                  40108 non-null  int64
 2   Year                                   40108 non-null  int64
 3   bat_team_Delhi Daredevils              40108 non-null  uint8
 4   bat_team_Kings XI Punjab               40108 non-null  uint8
 5   bat_team_Kolkata Knight Riders         40108 non-null  uint8
 6   bat_team_Mumbai Indians                40108 non-null  uint8
 7   bat_team_Rajasthan Royals              40108 non-null  uint8
 8   bat_team_Royal Challengers Bangalore   40108 non-null  uint8
 9   bat_team_Sunrisers Hyderabad           40108 non-null  uint8
 10  bowl_team_Delhi Daredevils             40108 non-null  uint8
 11  bowl_team_Kings XI Punjab              40108 non-null  uint8
 12  bowl_team_Kolkata Knight Riders        40108 non-null  uint8
 13  bowl_team_Mumbai Indians               40108 non-null  uint8
 14  bowl_team_Rajasthan Royals             40108 non-null  uint8
 15  bowl_team_Royal Challengers Bangalore  40108 non-null  uint8
 16  bowl_team_Sunrisers Hyderabad          40108 non-null  uint8
 17  overs                                  40108 non-null  float64
 18  runs                                   40108 non-null  int64
 19  wickets                                40108 non-null  int64
 20  runs_last_5                            40108 non-null  int64
 21  wickets_last_5                         40108 non-null  int64
 22  total                                  40108 non-null  int64
dtypes: float64(1), int64(8), uint8(14)
memory usage: 3.3 MB

In [12]:
X_train = encoded_df.drop(labels='total', axis=1)[encoded_df['Year']<= 2016]
X_test = encoded_df.drop(labels='total', axis=1)[encoded_df['Year']>= 2017]

In [13]:
y_train = encoded_df[encoded_df['Year']<= 2016]['total'].values
y_test = encoded_df[encoded_df['Year']>= 2017]['total'].values

In [14]:
X_train.drop(['Month','Year','Date'],axis=1, inplace=True)
X_test.drop(['Month','Year','Date'], axis=1, inplace=True)

In [15]:
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LinearRegression,Lasso
from sklearn.linear_model import ridge_regression
from sklearn.tree import DecisionTreeRegressor
from sklearn.svm import SVR

In [16]:
X_train

,bat_team_Delhi Daredevils,bat_team_Kings XI Punjab,bat_team_Kolkata Knight Riders,bat_team_Mumbai Indians,bat_team_Rajasthan Royals,bat_team_Royal Challengers Bangalore,bat_team_Sunrisers Hyderabad,bowl_team_Delhi Daredevils,bowl_team_Kings XI Punjab,bowl_team_Kolkata Knight Riders,bowl_team_Mumbai Indians,bowl_team_Rajasthan Royals,bowl_team_Royal Challengers Bangalore,bowl_team_Sunrisers Hyderabad,overs,runs,wickets,runs_last_5,wickets_last_5
0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,5.1,61,0,59,0
1,0,0,1,0,0,0,0,0,0,0,0,0,1,0,5.2,61,1,59,1
2,0,0,1,0,0,0,0,0,0,0,0,0,1,0,5.3,61,1,59,1
3,0,0,1,0,0,0,0,0,0,0,0,0,1,0,5.4,61,1,59,1
4,0,0,1,0,0,0,0,0,0,0,0,0,1,0,5.5,61,1,58,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37325,0,0,0,0,0,0,1,0,0,0,0,0,1,0,19.2,194,7,54,4
37326,0,0,0,0,0,0,1,0,0,0,0,0,1,0,19.3,200,7,56,4
37327,0,0,0,0,0,0,1,0,0,0,0,0,1,0,19.4,201,7,56,4
37328,0,0,0,0,0,0,1,0,0,0,0,0,1,0,19.5,202,7,57,4
37329,0,0,0,0,0,0,1,0,0,0,0,0,1,0,19.6,208,7,62,4

In [17]:
from sklearn.preprocessing import StandardScaler
scale=StandardScaler()

scaling=X_train[['overs','runs','wickets','runs_last_5','wickets_last_5']]

scale.fit(scaling)
scaling1=pd.DataFrame(scale.transform(scaling),columns=X_train.columns[-5:])
scaling1.reset_index(drop=True,inplace=True)
X_train.drop(['overs','runs','wickets','runs_last_5','wickets_last_5'],axis=1,inplace=True)
X_train.reset_index(drop=True,inplace=True)

In [18]:
x=pd.concat([X_train,scaling1],axis=1)

In [19]:
x

,bat_team_Delhi Daredevils,bat_team_Kings XI Punjab,bat_team_Kolkata Knight Riders,bat_team_Mumbai Indians,bat_team_Rajasthan Royals,bat_team_Royal Challengers Bangalore,bat_team_Sunrisers Hyderabad,bowl_team_Delhi Daredevils,bowl_team_Kings XI Punjab,bowl_team_Kolkata Knight Riders,bowl_team_Mumbai Indians,bowl_team_Rajasthan Royals,bowl_team_Royal Challengers Bangalore,bowl_team_Sunrisers Hyderabad,overs,runs,wickets,runs_last_5,wickets_last_5
0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,-1.667643,-0.824385,-1.596478,1.751586,-1.230336
1,0,0,1,0,0,0,0,0,0,0,0,0,1,0,-1.644516,-0.824385,-1.072631,1.751586,-0.291718
2,0,0,1,0,0,0,0,0,0,0,0,0,1,0,-1.621389,-0.824385,-1.072631,1.751586,-0.291718
3,0,0,1,0,0,0,0,0,0,0,0,0,1,0,-1.598263,-0.824385,-1.072631,1.751586,-0.291718
4,0,0,1,0,0,0,0,0,0,0,0,0,1,0,-1.575136,-0.824385,-1.072631,1.664759,-0.291718
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37325,0,0,0,0,0,0,1,0,0,0,0,0,1,0,1.593215,2.436057,2.070452,1.317452,2.524135
37326,0,0,0,0,0,0,1,0,0,0,0,0,1,0,1.616342,2.583144,2.070452,1.491105,2.524135
37327,0,0,0,0,0,0,1,0,0,0,0,0,1,0,1.639468,2.607659,2.070452,1.491105,2.524135
37328,0,0,0,0,0,0,1,0,0,0,0,0,1,0,1.662595,2.632173,2.070452,1.577932,2.524135
37329,0,0,0,0,0,0,1,0,0,0,0,0,1,0,1.685722,2.779261,2.070452,2.012066,2.524135

In [21]:
lr =LinearRegression()
print( "lr  :",cross_val_score(lr,x, y_train, cv=3).mean())

lasso =Lasso()
print('Lasso    :',cross_val_score(lasso,x, y_train, cv=3).mean())
DecisionTreeRegressor =DecisionTreeRegressor()
print("DecisionTreeRegressor   :",cross_val_score(DecisionTreeRegressor,x, y_train, cv=3).mean())

lr  : 0.6134612150654339
Lasso    : 0.5933873550331733
DecisionTreeRegressor   : 0.23365432234286063

In [22]:
lr.fit(x,y_train)

LinearRegression()

In [24]:
import pickle
file='ipl_score.pkl'
file1='scale.pkl'
pickle.dump(lr,open(file,'wb'))
pickle.dump(scale,open(file1,'wb'))